<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drowsiness Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Drowsiness Detection</h2>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" required>
            <button type="submit">Predict</button>
        </form>
        
        {% if result %}
            <h3>Result: {{ result }}</h3>
            <img src="{{ url_for('static', filename='uploaded_image.png') }}" alt="Uploaded Image" width="200px">
        {% endif %}
    </div>
</body>
</html>
